html {
    font-size: 62.5%;
}

body {
    margin: 0;
    padding: 5rem 0;
    background: #f2f6f8;
}

#content {
    box-sizing: border-box;
    width: 595px;
    height: 842px;
    margin: auto;
    padding: 6rem;
    font-size: 1.4rem;
    background-color: #ffffff;
    box-shadow: 0 0 5px #666666;
}

.title {
    text-align: center;
}

.article {
    text-indent: 2.8rem;
    line-height: 1.8rem;
}

#poster {

}